    
    <h1>Home page</h1>
    <p>1. Choose your opponent online and challenge him to battle</p>
    <p>2. Drag ships to your field. Click on the ship - change orientation (vertical / horizontal)</p>
    <p>3. The first player to shoot is the player who placed the ships earlier</p>
    <p>4. If all decks of the ship are knocked down, the area around it turns blue</p>
    <p>5. If your opponent has left the game, a notification of his surrender is displayed</p>
    <p>6. The first player to shoot down all enemy ships wins.</p>
    <p>7. Enjoy your game!</p>