.nav {
    background-color: rgb(0, 153, 255);
}
.nav-wrapper {
    padding: 0 2rem;
}
.auth {
padding-top: 1rem;
}
.alert {
    padding: .5rem;
    margin-bottom: 1rem;
    border-radius: 10px;
    text-align: center;
    background-color: rgba(255, 0, 0, .3);
    color: red;
}
.btn.btn-blue {
    background-color: rgb(2, 95, 156);
}
.inaccessibleInviteBtn {
    background-color: rgba(94, 120, 138, 0.767);
}
.invitationUnswerBtn {
    background-color: orange;
}
.acceptSurrenderBtn{
    background-color: orange;
}
.currentUserName {
    display: block;
    font-style: italic;
    padding-left: 20px;
    color: rgb(255, 255, 255);
    background: linear-gradient(to right, rgb(2, 95, 156), #ffffff, #ffffff, #ffffff);
}
.userBox {
    background: linear-gradient(to top left, rgba(1, 104, 172, 0.404), #ffffff, rgba(1, 104, 172, 0.404));
    padding: 2px 0 15px 20px;
    margin: 7px;
    border-radius: 3px;
    box-shadow: 0 0 3px #27231e75;
}
.gameBox {
    background: linear-gradient(to top left, rgba(1, 104, 172, 0.247), #ffffff, rgba(1, 104, 172, 0.247));
}